<%= render 'breadcrumbs' %>

<h1>Ladder</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th class="key-column">Club</th>
      <th>G</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>F</th>
      <th>A</th>
      <th>%</th>
      <th>Pts</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each_with_index do |club, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td class="key-column"><%= link_to club.name, club_path(club.id) %></td>
        <td><%= club.games_played %></td>
        <td><%= club.wins %></td>
        <td><%= club.draws %></td>
        <td><%= club.losses %></td>
        <td><%= club.points_for %></td>
        <td><%= club.points_against %></td>
        <td><%= club.percentage %></td>
        <td><%= club.league_points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
