<h1><%= @club.name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>id</td>
      <td><%= @club.id %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= @club.name %></td>
    </tr>
    <tr>
      <td>abbreviation</td>
      <td><%= @club.abbreviation %></td>
    </tr>
    <tr>
      <td>fixtures_alias</td>
      <td><%= @club.fixtures_alias %></td>
    </tr>
    <tr>
      <td>afl_tables_alias</td>
      <td><%= @club.afl_tables_alias %></td>
    </tr>
    <tr>
      <td>image</td>
      <td><%= @club.image %></td>
    </tr>
  </tbody>
  
</table>
