<%= render 'breadcrumbs' %>

<h1><%= @club.name %></h1>

<h3>Fixtures</h3>
<table>

  <tr>
    <th>Round</th>
    <th>Home</th>
    <th>Score</th>
    <th>Away</th>
    <th>Venue</th>
  </tr>

  <% @club.fixtures.each do |fixture| %>
    <tr>
      <td><%= fixture.round %></td>
      <td><%= Club.find(fixture.home_id).abbreviation %></td>
      <td><%= fixture.home_score %> - <%= fixture.away_score %></td>
      <td><%= Club.find(fixture.away_id).abbreviation %></td>
      <td><%= fixture.venue %></td>
      <td>
        <a
          class="fa-solid fa-circle-chevron-right"
          href=<%= fixture_path(fixture.round, fixture.id) %>
        />
      </td>
    </tr>
  <% end %>

</table>

<h3>Players</h3>
<table>

  <tr>
    <th>Player</th>
    <th>Position</th>
    <th>Games</th>
    <th>Avg. FPts</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.position.join(' / ') %></td>
      <td><%= player.games_played %></td>
      <td><%= player.average_fantasy_score %></td>
      <td>
        <a
          class="fa-solid fa-circle-chevron-right"
          href=<%= player_path(player.id) %>
        />
      </td>
    </tr>
  <% end %>
</table>
