<h3>
  <%= link_to 'Fixtures', fixtures_path %>

  <%= " / " if @round.present? %>
  <%= link_to @round, round_path(@round) if @round.present? %>

  <% if @fixture.present? %>
    <%= " / " %>
    <%= link_to @fixture_short_name, fixture_path(@round, @fixture.id) %>
  <% end %>

</h3>
