<h1>Fixtures</h1>

<div class="rounds-nav-bar">
  <% @rounds.each do |round| %>
    <%= link_to round, round_path(round), :class => 'round-label' %>
  <% end %>
</div>

<% if @fixtures.present? %>
  <table>
    <thead>
      <tr>
        <th>date</th>
        <th>time</th>
        <th>home</th>
        <th></th>
        <th>away</th>
        <th>venue</th>
        <th></th>
      </tr>
    </thead>

    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.datetime.localtime.strftime('%a  %d %b') %></td>
        <td><%= fixture.datetime.localtime.strftime('%l:%M%P') %></td>
        <td><%= Club.find(fixture.home_id).abbreviation %></td>
        <td><%= fixture.home_score %> - <%= fixture.away_score %></td>
        <td><%= Club.find(fixture.away_id).abbreviation %></td>
        <td><%= fixture.venue %></td>
        <td>
          <a
            class="fa-solid fa-circle-chevron-right"
            href=<%= fixture_path(fixture.round, fixture.id) %>
          />
        </td>
      </tr>
    <% end %>

  </table>
<% end %>
