<%= render 'breadcrumbs' %>


<div class="scoreboard">
  <div class="team-container home">

    <table>
      <tr>
        <td><%= @fixture.clubs[0].name %></td>
        <td><%= @fixture.home_score %></td>
      </tr>
      <tr>
        <td>
          <%= @fixture.home.wins %><%= "-#{ @fixture.home.losses}" %><%= "-#{ @fixture.home.draws }" unless @fixture.home.draws == 0 %>
        </td>
      </tr>
    </table>

    <%= render 'player_list', players: @fixture.home_players %>
  </div>

  <div class="team-container away">

    <table>
      <tr>
        <td><%= @fixture.clubs[1].name %></td>
        <td><%= @fixture.away_score %></td>
      </tr>
      <tr>
        <td>
          <%= @fixture.away.wins %><%= "-#{ @fixture.away.losses}" %><%= "-#{ @fixture.away.draws }" unless @fixture.away.draws == 0 %>
        </td>
      </tr>
    </table>

    <%= render 'player_list', players: @fixture.away_players %>
  </div>
</div>
