<%= render 'breadcrumbs' %>

<h1>All Players</h1>

<%= render 'search_filters' %>

<table>
  <thead>
    <tr>
      <th class="key-column">Player</th>
      <th>Club</th>
      <th>Pos</th>
      <th>Avg.</th>
      <% @rounds.last(10).each do |round| %>
        <th><%= round %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @players.take(100).each do |player| %>
      <tr>
        <td class="key-column">
          <% name = "#{ player.name }" %>
          <%= link_to name, player_path(player.id) %>
        </td>
        <td><%= link_to player.club.abbreviation, club_path(player.club.id) %></td>
        <td><%= player.position.join(' / ') %></td>
        <td><%= player.average_fantasy_score %></td>
        <% player.fantasy_scores.last(10).each do |score| %>
          <td class="<%= get_score_class score %>">
            <%= score %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
