<%= render 'breadcrumbs' %>

<h1><%= @player.name %></h1>
<p><%= link_to @player.club.name, club_path(@player.club.id) %> | <%= @player.position.join(' / ') %></p>

<h3>Game Logs</h3>
<table>

  <thead>
    <tr>
      <th>Rd</th>
      <th>Opp</th>
      <th>AF</th>
    </tr>
  </thead>

  <tbody>
    <% (0..26).each do |i| %>
      <tr>
        <td><%= Fixture.pluck(:round_id).uniq[i] %></td>
        <td><%= @player.get_all_opponents[i] %></td>

        <td class="<%= get_score_class @player.fantasy_scores[i] %>">
          <%= @player.fantasy_scores[i] %>
        </td>

        <td>
          <a
            class="fa-solid fa-circle-chevron-right"
          />
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
