<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6ccbe3d470.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Players', players_path %>
        <%= link_to 'Clubs', clubs_path %>
        <%= link_to 'Fixtures', round_path(Fixture.last.round_id) %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
