<!DOCTYPE html>
<html>
  <head>
    <title>AflDb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6ccbe3d470.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Clubs', clubs_path %>
        <a href="">Players</a>
        <a href="">Fixtures</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
